$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";

.topic {
  cursor: pointer;
}

.topic--current {
  font-weight: bold;
}

.topics {
  font-size: 10px;
}

.message {
  padding: 10px;
}

.message__body {
  margin-top: 5px;
}

.message:nth-child(even) {
  background-color: #f2f2f2;
}
