$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";

$background-color: white;
$topic-color: white;
$topic-current-color: white;
$message-color: white;
$message-even-color: lightgrey;
$navbar-color: ligthgrey;

.topic {
  cursor: pointer;
}

.topic--current {
  font-weight: bold;
}

.topics {
  font-size: 10px;
}

.message {
  padding: 10px;
  background-color: $message-color;
}

.message__body {
  margin-top: 5px;
}

.message:nth-child(even) {
  background-color: $message-even-color;
}

#main-container {
  background-color: $background-color;
}

.topic {
  background-color: $topic-color;

  .topic--current {
    background-color: $topic-current-color;
  }
}

.navbar-default {
  background-color: $navbar-color;
}
