$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";

.topic {
  cursor: pointer;
}

.topic--current {
  font-weight: bold;
}

.topics {
  font-size: 10px;
}
